/* Resume Page Styling */
.skill-set li:hover {
    background: orange;
    transition: all 0.3s ease;
    color: black;
}

.right {
    height:100%;
    position:relative;
}

.inner {
    margin:0 auto;
    max-width:975px;
    padding:3em;
}

.inner h1 {
    font-size:1.75em;
}

.inner p {
    color: rgb(122, 122, 122);
}

.employment ul {
    padding-left: 32px;
}

.inner p em {
    color:rgba(0,0,0,.75);
    font-style:normal;
}

.inner section {
    margin:100px auto;
}

.skill-set li {
    background:rgba(0,0,0,.75);
    border-radius:5px;
    color:#FFF;
    display:inline-block;
    list-style:none;
    margin:15px 15px 0 0;
    padding:10px;
    text-align:justify;
}

/* Download Button */
.frame {
    width: 90%;
    margin: 40px auto;
    text-align: center;
}
button {
    margin: 20px;
}
.custom-btn {
    width: 150px;
    color: #fff;
    border-radius: 5px;
    margin:15px 15px 0 0;
    padding: 10px;
    font-size: normal;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
}
.btn-15-resume {
    background: rgba(0,0,0,.75);
    border: none;
    z-index: 0;
}
.btn-15-resume:after {
    position: absolute;
    content: "";
    width: 0;
    height: 100%;
    top: 0;
    right: 0;
    z-index: -1;
    background-color: orange;
    border-radius: 5px;
    transition: all 0.3s ease;
}
.btn-15-resume:hover {
    background: orange;
    transition: all 0.3s ease;
    color: black;
}
.btn-15-resume:active {
    top: 2px;
}